---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "astro:assets";
import podcastcrew from "@assets/podcastcrew.webp"

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Podcast">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Dutchento Podcast</Fragment>
      <Fragment slot="desc">Luisteren maar!</Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <p class="text-lg leading-relaxed text-slate-500">Zo nu en dan nemen we een podcast op met de expertgroep binnen Dutchento en met regelmaat schuiven er specialisten en webwinkeliers aan om over een specifiek onderwerp mee te praten.
        Je kan de afleveringen terugvinden op Apple Podcasts, Spotify en Google Podcasts en daar kun je je ook meteen op de podcast abonneren.</p>   
      <p class="text-lg leading-relaxed text-slate-500">
        Hieronder een overzicht van de laatste afleveringen:
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        <iframe style="width: 100%; height: 390px;" src="https://share.transistor.fm/e/dutchento/playlist" width="100%" height="100%" frameborder="0" scrolling="no" seamless="true">
        </iframe>
      </p>
      <p><img src={podcastcrew.src} alt="Podcast Crew" width=""/></p>


 </div>
    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div> -->
  </Container>
</Layout>
